img{
    width: 100%;
}
a{
    color: black;
}

html {
    font-size: 21px;
    line-height: 1.4;
}
article{
    margin-top: 70px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
figure{
margin-left: 0;
margin-right: 0;
text-align: center;
}
figcaption{
    font-size: 16px;
    margin-top: 1em;
}
h3{
    font-weight: normal;
}
.gray{
    color: gray;}


.ff-sans{
    font-family: sans-serif;
}
.fontt {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  }
blockquote{
    font-size: 1.5em;
}

